{{ define "title" }}Bookmarks{{ end }}
{{ define "body" }}
  <script>
    function openCreateModal() {
      document.getElementById("modal-form").method = "POST";
      document.getElementById("form-title").innerHtml = "Create a new bookmark";
      document
        .querySelectorAll(".modal-input")
        .forEach((input) => (input.value = ""));
      document.getElementById("create-dialog").showModal();
    }
    function openEditModal(id, url, name, description) {
      document.getElementById("form-title").innerHtml = "Edit bookmark";
      document.getElementById("id-input").value = id;
      document.getElementById("name-input").value = name;
      document.getElementById("url-input").value = url;
      document.getElementById("description-input").value = description;
      document.getElementById("create-dialog").showModal();
    }
    function updateOptions() {
      document.getElementById("options-form").submit();
    }
  </script>
  <div class="m-auto flex h-full max-w-4xl flex-col p-4">
    <div class="flex flex-col gap-4 py-4">
      <form id="options-form" method="GET"></form>
      <div class="flex w-full flex-col justify-between gap-2 md:flex-row">
        <div class="w-full text-2xl">Bookmarks</div>
        <div class="flex gap-2">
          <input
            name="q"
            form="options-form"
            class="flex-1 border-b p-2"
            placeholder="Search"
            value="{{ .query }}"
          />
          <button type="submit" form="options-form" class="btn-secondary">
            Search
          </button>
        </div>
      </div>
      <div class="flex justify-between">
        <div>
          <button
            class="btn-secondary w-full p-4 md:w-fit"
            onclick="openCreateModal()"
          >
            New bookmark
          </button>
          {{ block "bookmark-dialog" . }}{{ end }}
        </div>
        <div class="flex gap-4">
          <div class="flex items-baseline gap-2">
            <!-- <label for="sort-by:" class="h-fit">Sort by:</label> -->
            <select
              name="sort-by"
              form="options-form"
              onchange="updateOptions()"
              class="h-full cursor-pointer rounded-xl border bg-white p-4"
            >
              <option value="name">Name</option>
              <option value="url">Url</option>
              <option value="created">Created</option>
              <option value="updated">Updated</option>
            </select>
          </div>
          <div>
            <div class="flex h-full items-stretch">
              <!-- TODO MAKE THESE RADIO BUTTONS WORK -->
              <input
                type="radio"
                id="ascending"
                form="options-form"
                onchange="updateOptions()"
                name="sort-dir"
                class="hidden"
              />
              <label
                for="ascending"
                class="btn-secondary cursor-pointer content-center rounded-r-none"
                >Ascending</label
              >
              <input
                type="radio"
                id="descending"
                form="options-form"
                onchange="updateOptions()"
                name="sort-dir"
                class="hidden"
              />
              <label
                for="descending"
                class="btn-secondary content-center rounded-l-none"
                >Descending</label
              >
            </div>
          </div>
          <div class="flex h-full items-stretch">
            <input
              type="radio"
              id="grid"
              form="options-form"
              onchange="updateOptions()"
              name="view"
              class="hidden"
              checked
            />
            <label
              for="grid"
              class="btn-secondary cursor-pointer content-center rounded-r-none"
              >Grid</label
            >
            <input
              type="radio"
              form="options-form"
              onchange="updateOptions()"
              id="rows"
              name="view"
              class="hidden"
            />
            <label
              for="rows"
              class="btn-secondary content-center rounded-l-none"
              >Rows</label
            >
          </div>
        </div>
      </div>
    </div>
    {{ if .bookmarks }}
      <div
        class="-mx-2 grid w-full flex-1 grid-cols-1 gap-2 overflow-x-hidden overflow-y-scroll p-2 md:grid-cols-2 lg:grid-cols-3"
      >
        {{ range .bookmarks }}
          {{ block "bookmark" .PublicExport }}Bookmarks{{ end }}
        {{ end }}
      </div>
    {{ else }}
      <div class="text-center">No bookmarks</div>
    {{ end }}
  </div>
{{ end }}
