{{ define "title" }}Bookmarks{{ end }}
{{ define "body" }}
  <div class="m-auto flex h-full max-w-4xl flex-col p-4">
    <div class="flex flex-col gap-4 py-4">
      <div class="flex w-full flex-col justify-between gap-2 md:flex-row">
        <div class="w-full text-2xl">Bookmarks</div>
        <form method="GET" class="flex gap-2">
          <input
            name="q"
            class="flex-1 border-b p-2"
            placeholder="Search"
            value="{{ .query }}"
          />
          <button
            type="submit"
            class="rounded-xl border px-4 py-2 transition hover:bg-gray-300 active:bg-gray-500"
          >
            Search
          </button>
        </form>
      </div>
      <a
        href="/bookmarks/add"
        class="w-full rounded-xl border px-4 py-4 text-center transition hover:bg-gray-300 active:bg-gray-500 md:w-fit"
      >
        New bookmark
      </a>
    </div>
    {{ if .bookmarks }}
      <div
        class="-mx-2 grid w-full flex-1 grid-cols-1 gap-2 overflow-x-hidden overflow-y-scroll p-2 md:grid-cols-2 lg:grid-cols-3"
      >
        {{ range .bookmarks }}
          {{ block "bookmark" .PublicExport }}Bookmarks{{ end }}
        {{ end }}
      </div>
    {{ else }}
      <div class="text-center">No bookmarks</div>
    {{ end }}
  </div>
{{ end }}
