{{ define "navbar" }}
  <nav class="static top-0 min-h-16 w-screen content-center px-8 shadow-lg">
    <div class="flex justify-between">
      <ul class="flex items-center">
        <li>
          <span class="text-lg font-bold">Bookmrk</span>
        </li>
      </ul>
      <ul class="flex h-fit items-center gap-4">
        {{ if .authenticated }}
          <li>
            {{ .username }}
          </li>
          <li>
            <form method="POST" action="/logout">
              <button
                type="submit"
                class="rounded-xl border px-4 py-2 transition hover:bg-gray-300 active:bg-gray-500"
              >
                Log out
              </button>
            </form>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
{{ end }}
